<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.jarlen.notify.service"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service android:name="cn.jarlen.notify.service.NotifyService" >
            <intent-filter>
                <action android:name="cn.jarlen.notify.service.NotifyService" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.jarlen.notify.receiver.NotificationReceiver"
            android:process=":push" >
        </receiver>
    </application>

</manifest>